# Bike Stats

In [1]:
import pandas as pd 
import numpy as np

In [7]:
df_station = pd.read_csv('./station.csv')

In [6]:
df_weather = pd.read_csv('./weather.csv')

In [5]:
df_trip = pd.read_csv('./trip.csv', skiprows=[50793])
df.head(1)

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,431,10/13/2014 10:31,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0

#### What is the average trip duration for a borrowed bicycle?

In [10]:
df['tripduration'].mean()

1178.2956753399776

#### What’s the most common age of a bicycle-sharer?

In [11]:
birthyr = df['birthyear'].mode()
2019 - birthyr

0    32.0
dtype: float64

#### Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [22]:
df_weather.head(1)
df_weather['Precipitation_In'].mean()

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Mean_Sea_Level_Pressure_In,Min_Sea_Level_Pressure_In,Max_Visibility_Miles,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events
0,10/13/2014,71,62.0,54,55,51,46,87,68,46,...,29.79,29.65,10,10,4,13,4,21,0.0,Rain

#### What’s the average number of bikes at a given bike station?

#### When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?

#### Come up with 3 more questions that can be answered with this data set.