# Bike Stats

In [6]:
import pandas as pd 
import numpy as np

In [10]:
df_station = pd.read_csv('./station.csv')

In [11]:
df_weather = pd.read_csv('./weather.csv')

In [12]:
df_trip = pd.read_csv('./trip.csv', skiprows=[50793])
df.head(1)

NameError: name 'df' is not defined

#### What is the average trip duration for a borrowed bicycle?

In [10]:
df['tripduration'].mean()

1178.2956753399776

#### What’s the most common age of a bicycle-sharer?

In [11]:
birthyr = df['birthyear'].mode()
2019 - birthyr

0    32.0
dtype: float64

#### Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [8]:
df_weather['Precipitation_In'].median()

0.0

#### What’s the average number of bikes at a given bike station?

In [13]:
df_station[['current_dockcount']].mode()

   current_dockcount
0                 18

#### When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?

In [14]:
temp_old = df_station.sort_values('modification_date',  ascending= False)['current_dockcount'].tail(42)
temp_new = df_station.sort_values('modification_date',  ascending= False)['current_dockcount'].head(15)
new = temp_new.mean()
old = temp_old.mean()
new - old

-1.6380952380952376

#### Come up with 3 more questions that can be answered with this data set.

#### What gender rode the most?

In [15]:
df_trip['gender'].mode()

0    Male
dtype: object

#### Shortest Trip?

In [17]:
df_trip.sort_values(by='tripduration', ascending = False).tail(1)

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
139078,98825,6/29/2015 5:25,6/29/2015 5:26,SEA00178,60.008,15th Ave NE & NE 40th St,15th Ave NE & NE 40th St,UW-04,UW-04,Member,Male,1982.0

In [20]:
df_weather[['Max_Humidity']].max()

0      87
1      88
2      87
3      83
4      87
       ..
684    81
685    80
686    89
687    83
688    90
Length: 689, dtype: int64